/**
 *
 * {{ properCase name }}
 *
 */

{{#if memo}}
import React, { memo } from 'react';
{{else}}
import React from 'react';
{{/if}}
// import PropTypes from 'prop-types';
// import styled from 'styled-components';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}
{{#if wantStyledComponent}}
import Styled{{ properCase name }} from './style';
{{/if}}

const {{ properCase name }} = () => {
  return (
    {{#if wantStyledComponent}}
    <Styled{{ properCase name }} >
      this is {{ properCase name }} component
    </Styled{{ properCase name }}>
    {{else}}
    <div>
    this is {{ properCase name }} component
    </div>
    {{/if}}
  );
}

{{ properCase name }}.propTypes = {};

{{#if memo}}
export default memo({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}
